@import '../../../theme/global.scss';

.card {

  :global .ant-card-head {
    border: none;
  }

  .header {
    width: 100%;

    > div:nth-child(2) {
      min-width: calc(100% - 88px);
    }

    .details {

      .title {
        font-weight: 300;
      }
    }
  }

  p {
    font-size: $mTextSize;
  }

}