@import '../../../theme/global.scss';

.chart {
  width: 100%;

  .chartBarsRow {
    width: 100%;

    .chartBarsData {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .chartBarsLabel {
        font-size: $mTextSize;
      }
      .chartBarsValue {
        font-size: $lTitleSize;

        &.success {
          color: $success-color;
        }

        &.normal {
          color: $primary-color;
        }

        &.exception {
          color: $error-color;
        }
      }
    }

    .chartBarsList {
      line-height: 0.8;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    :global .ant-progress {
      margin: -15px 0 0;
      height: 6px;
    }

    :global .ant-progress-steps {
      width: 100%;
    }
    :global .ant-progress-steps-outer {
      justify-content: space-between;
    }

    :global .ant-progress-inner {
      vertical-align: top;
    }
  }
}