@import '../../../theme/global.scss';

.node {
  padding: 10px;
  border: solid 1px $border-color;
  background: $light-color;
  border-radius: 50px;
  position: relative;
  width: 400px;

  .nodeIconProgressing {
    position: relative;

    .nodeIconSpinner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .header {
    padding: 0px 10px;
    font-size: 14px;
    text-transform: uppercase;
  }

  .body {
    font-size: 14px;
    padding: 0px 10px;
    color: $gray-color;
  }

  .footer {
    position: absolute;
    right: 20px;

    .tagFlow {
      border-radius: 20px;
      background-color: $border-color;
      padding: 3px 10px;
    }
  }
}