@import '../../../../theme/global.scss';

.loginForm {
  width: 320px;

  .title {
    @include big-title;
  }
}

.linkPassword {
  margin: -10px 0 30px;
  text-align: right;
}

.loginButton {
  width: 100%;
}