
.layout {
  height: 100%;
  min-height: 100vh;

  .header {
    padding: 0;
    height: 55px;
    line-height: initial;
  }

  .sider {
    overflow: hidden;
    background-color: transparent;
  }

  .content {
    padding: 0 20px;
  }
}