@import '../../theme/global.scss';

.layout {
  height: 100%;
  min-height: 100vh;
  overflow: hidden;

  .header {
    padding: 0;
    height: 55px;
  }

  .sider {
    overflow: hidden;
    background-image: linear-gradient($menu-bg-start, $menu-bg-end);
  }

  .content {
    padding: 20px 10px;
    overflow-y: scroll;
    height: calc(100vh - 55px);

    :global(.ant-row) {
      padding: 0;
    }

    :global(.ant-col) {
      padding: 10px;
    }

    :global(.ant-col > div) {
      margin-bottom: 20px;
    }

    :global(.ant-col:has(> .ant-col)) {
      padding: 0;
    }
  }
}