@import '../../../../theme/global.scss';

.socialLogin {
  button {
    width: 100%;
  }

  .github {
    background-color: $dark-color;
    color: $light-color;
  }

  .oidc {
    background-color: $warning-color;
    color: $light-color;
  }
}