@import 'global.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;

  .ant-tooltip .ant-badge{
    padding-right: 10px;
    color: $light-color;

    > sup {
      box-shadow: unset;
    }
  }

  .ant-layout {
    background: transparent;
  }
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: #ccc;
}