$bigText: 38px;
$iconNavigationSize: 24px;
$userLoggedNameSize: 16px;
$userLoggedEmailSize: 12px;
$titleSize: 18px;

// unused
$title: 20px;
$paragraph: 20px;
$defaultText: 16px;
$smallText: 14px;
$extraSmallText: 12px;
