$xxlTitleSize: 42px;
$xlTitleSize: 38px;
$lTitleSize: 30px;
$mTitleSize: 22px;
$TitleSize: 20px;

$lTextSize: 18px;
$mTextSize: 16px;
$defaultTextSize: 14px;

$title: 20px;
$paragraph: 20px;
$defaultText: 16px;
$smallText: 14px;
$extraSmallText: 12px;
