$xxlTitleSize: 42px;
$xlTitleSize: 38px;
$lTitleSize: 22px;
$TitleSize: 20px;
$xlTitleSize: 18px;

$defaultTextSize: 14px;



// unused
$title: 20px;
$paragraph: 20px;
$defaultText: 16px;
$smallText: 14px;
$extraSmallText: 12px;
