// Palette
$primary-color: #05629A;
$secondary-color: #303030;
$highlight-color: #11B2E2;
$light-color: #FFFFFF;
$dark-color: #000000;
$gray-color: #a0a0a0;
$background-color: #f5f5f5;
$border-color: #E1E3E8;
$text-color: #323B40;
$menu-bg-start: #005D8B;
$menu-bg-end: #002F46;
$menuitem-color: rgba(255, 255, 255, .5);
$menuitem-bg: rgba(17, 178, 226, .4);
$error-color: #F84C4C;
$success-color: #00D690;
$warning-color: #FFAA00;

// Breakpoints
$bp-small: 700px;
$bp-medium: 1280px;
$bp-large: 1500px;

$bp-range-small:  "(max-width: 699px)";
$bp-range-medium: "(max-width: 1279px) and (min-width: 700px)";
$bp-range-large:  "(max-width: 1499px) and (min-width: 1280px)";
$bp-range-xlarge: "(min-width: 1500px)";