@import '../../theme/global.scss';

.notifications {
  display: flex;

  .toolButton {
    svg {
      font-size: $mTitleSize;
    }
  }

  .badge {
    sup {
      top: 5px;
      box-shadow: 0 0 0 2px $light-color;
    }
  }
}

.notificationPanel {
  :global .ant-drawer-body {
    padding: 0;
  }
}

.notificationList {
  :global li.ant-list-item {
    align-items: baseline;
    padding: 5px 10px 0 30px;
    border-radius: 10px;

    &:hover {
      background-color: $background-color;
    }
  }

  .notificationElement {
    height: auto;
    text-align: left;
    position: relative;
    padding: 0;
    text-wrap: wrap;

    .icon {
      margin-right: 10px;
      display: inline-flex;

      svg path {
        fill: $light-color;
      }
    }

    .date {
      color: $gray-color;
    }

    .title {
      font-size: $smallText;
      text-wrap: wrap;
    }

    .description {
      max-width: 250px;
      white-space: initial;
    }

    .details {
      font-size: $extraSmallText;
      color: $gray-color;
    }
  }
}